In [29]:
def return_n(n):
    """
    
    >>> return_n(10)
    10
    >>> return_n(100)
    101
    """
    
    return n

In [8]:
return_n(10) == 11

False

In [20]:
def test_return_n(a, b):
    while a <= b:
        print(return_n(a) == a)
        assert return_n(a) == a
        a += 1

In [19]:
test_return_n(1, 10)

AssertionError:

In [30]:
from doctest import testmod
testmod()

**********************************************************************
File "__main__", line 6, in __main__.return_n
Failed example:
    return_n(100)
Expected:
    101
Got:
    100
**********************************************************************
1 items had failures:
   1 of   2 in __main__.return_n
***Test Failed*** 1 failures.

TestResults(failed=1, attempted=2)

Write a function fib that given a positive n prints the first n number of the fibonacci sequence:
1, 1, 2, 3, 5, 8, 13, 21, 34, 55, ...

$a_n = a_{n - 1} + a_{n-2}$ 
for n > 2
and
$a_1 = 1$
$a_2 = 1$

>>> print_n(16) (what will it print)

16, 8, 4, 2, 1

In [38]:
def print_n(n):
    a_prev = 1
    a_pprev = 1
    counter = 1
    while counter <= n:
        if counter > 2:
            print(a_prev + a_pprev)
            
            temp_var = a_prev
            a_prev = a_prev + a_pprev
            a_pprev = temp_var
        else:
            print(1)
        counter += 1

In [40]:
print_n(10)

1
1
2
3
5
8
13
21
34
55

In [80]:
import xbos_services_getter as xsg
import datetime
import pytz
import pandas as pd
import time
import numpy as np

In [42]:
zb_stub = xsg.get_building_zone_names_stub()
zone_bldg = xsg.get_all_buildings_zones(zb_stub)

In [45]:
start = datetime.datetime(year=2018, month=10, day=1).replace(tzinfo=pytz.utc)
end = start + datetime.timedelta(days=200)
building = "south-berkeley-senior-center"
zone = "hvac_zone_ac_2"
raw_window = "1m"
aggregation_type = ""
prediction_window = "5m"

In [46]:
indoor_data_stub = xsg.get_indoor_historic_stub()
indoor_temperature_data = xsg.get_indoor_temperature_historic(indoor_data_stub, building, zone, start, end, raw_window)
indoor_action_data = xsg.get_indoor_actions_historic(indoor_data_stub, building, zone, start, end, raw_window)

In [50]:
data = pd.concat([indoor_action_data, indoor_temperature_data], axis=1)

In [58]:
num_shifts = int(xsg.get_window_in_sec(prediction_window)/xsg.get_window_in_sec(raw_window))

In [82]:
shifts = []
for i in range(num_shifts):
    shifts.append(indoor_action_data.shift(periods=-i).rename(columns={"action": "action+"+str(i)}))

shifted_action_data = pd.concat(shifts, axis=1)

In [83]:
shifted_action_data

                           action+0  action+1  action+2  action+3  action+4
datetime
2018-10-01 00:00:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:01:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:02:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:03:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:04:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:05:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:06:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:07:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:08:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:09:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:10:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:11:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:12:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:13:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:14:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:15:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:16:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:17:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:18:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:19:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:20:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:21:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:22:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:23:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:24:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:25:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:26:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:27:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:28:00+00:00       0.0       0.0       0.0       0.0       0.0
2018-10-01 00:29:00+00:00       0.0       0.0       0.0       0.0       0.0
...                             ...       ...       ...       ...       ...
2019-04-18 23:30:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:31:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:32:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:33:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:34:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:35:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:36:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:37:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:38:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:39:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:40:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:41:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:42:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:43:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:44:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:45:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:46:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:47:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:48:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:49:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:50:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:51:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:52:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:53:00+00:00       NaN       NaN       NaN       NaN       NaN
2019-04-18 23:54:00+00:00       NaN       NaN       NaN       NaN       0.0
2019-04-18 23:55:00+00:00       NaN       NaN       NaN       0.0       0.0
2019-04-18 23:56:00+00:00       NaN       NaN       0.0       0.0       NaN
2019-04-18 23:57:00+00:00       NaN       0.0       0.0       NaN       NaN
2019-04-18 23:58:00+00:00       0.0       0.0       NaN       NaN       NaN
2019-04-18 23:59:00+00:00       0.0       NaN       NaN       NaN       NaN

[288000 rows x 5 columns]

In [110]:
def all_same(items):
    print(items)
    return all(x == items[0] for x in items)

start_time = time.time()
filter_actions = shifted_action_data.apply(all_same, axis=1)
print("Took:", time.time() - start_time)
print(filter_actions)

Took: 15.483333110809326
datetime
2018-10-01 00:00:00+00:00     True
2018-10-01 00:01:00+00:00     True
2018-10-01 00:02:00+00:00     True
2018-10-01 00:03:00+00:00     True
2018-10-01 00:04:00+00:00     True
2018-10-01 00:05:00+00:00     True
2018-10-01 00:06:00+00:00     True
2018-10-01 00:07:00+00:00     True
2018-10-01 00:08:00+00:00     True
2018-10-01 00:09:00+00:00     True
2018-10-01 00:10:00+00:00     True
2018-10-01 00:11:00+00:00     True
2018-10-01 00:12:00+00:00     True
2018-10-01 00:13:00+00:00     True
2018-10-01 00:14:00+00:00     True
2018-10-01 00:15:00+00:00     True
2018-10-01 00:16:00+00:00     True
2018-10-01 00:17:00+00:00     True
2018-10-01 00:18:00+00:00     True
2018-10-01 00:19:00+00:00     True
2018-10-01 00:20:00+00:00     True
2018-10-01 00:21:00+00:00     True
2018-10-01 00:22:00+00:00     True
2018-10-01 00:23:00+00:00     True
2018-10-01 00:24:00+00:00     True
2018-10-01 00:25:00+00:00     True
2018-10-01 00:26:00+00:00     True
2018-10-01 00:27:00+00:00     True
2018-10-01 00:28:00+00:00     True
2018-10-01 00:29:00+00:00     True
                             ...
2019-04-18 23:30:00+00:00    False
2019-04-18 23:31:00+00:00    False
2019-04-18 23:32:00+00:00    False
2019-04-18 23:33:00+00:00    False
2019-04-18 23:34:00+00:00    False
2019-04-18 23:35:00+00:00    False
2019-04-18 23:36:00+00:00    False
2019-04-18 23:37:00+00:00    False
2019-04-18 23:38:00+00:00    False
2019-04-18 23:39:00+00:00    False
2019-04-18 23:40:00+00:00    False
2019-04-18 23:41:00+00:00    False
2019-04-18 23:42:00+00:00    False
2019-04-18 23:43:00+00:00    False
2019-04-18 23:44:00+00:00    False
2019-04-18 23:45:00+00:00    False
2019-04-18 23:46:00+00:00    False
2019-04-18 23:47:00+00:00    False
2019-04-18 23:48:00+00:00    False
2019-04-18 23:49:00+00:00    False
2019-04-18 23:50:00+00:00    False
2019-04-18 23:51:00+00:00    False
2019-04-18 23:52:00+00:00    False
2019-04-18 23:53:00+00:00    False
2019-04-18 23:54:00+00:00    False
2019-04-18 23:55:00+00:00    False
2019-04-18 23:56:00+00:00    False
2019-04-18 23:57:00+00:00    False
2019-04-18 23:58:00+00:00    False
2019-04-18 23:59:00+00:00    False
Length: 288000, dtype: bool

In [130]:
def all_same_lists(items):
    items = items.T
    filter_curr = items[0] != np.nan
    for i in range(items.shape[0]):
        filter_curr = filter_curr & (items[0] == items[i]) & (items[i] != np.nan)
    return filter_curr
        #     return all(x == items[0] for x in items)
start_time = time.time()
faster_filter_actions = all_same_lists(shifted_action_data.values)
print(time.time()-start_time)

0.0032491683959960938

In [131]:
filter_actions.values.shape

(288000,)

In [132]:
faster_filter_actions.shape

(288000,)

In [134]:
all(faster_filter_actions == filter_actions.values)

True

In [76]:
def preprocess_indoor_data(indoor_data, interval):
    """Combines contigious data -- i.e. is contigious in time and has the same action.
    Every datapoint knows how many seconds ago the last change of action happened (action_duration)
    and knows what the last action was (action_prev).
    :param zone_data: pd col=("action", "t_in"), Index needs to be continuous in time.
    :param interval: float:seconds The maximum length in seconds of a grouped data block.
    :returns: {zone: pd.df columns: 'time' (datetime), 't_in' (float), 't_next' (float),
    'dt' (int), 'action' (float), 'action_prev' (float), 'action_duration' (int)}
    No nan values except potentially in action_prev column -- means that we don't know the last action.
    """
    if indoor_data.shape[0] == 0:
        return None

    data_list = []

    first_row = indoor_data.iloc[0]

    # init our variables.
    start_time = indoor_data.index[0]
    last_time = start_time  # last valid time. To account for temperatures which are nan values.

    curr_action = first_row["action"]
    start_temperature = first_row["t_in"]

    # last not None temperature.
    last_temperature = start_temperature

    # whether the current datablock is valid. (datablock is a contigious grouping of same action datapoints)
    is_valid_block = not (np.isnan(curr_action) or np.isnan(start_temperature))

    # setting action start/end counters.
    curr_action_start = start_time
    action_prev = np.nan  # Assume last action has been going on forever before current action.

    # start loop
    for index, row in indoor_data.iterrows():
        # if actions are None we just move on
        if np.isnan(curr_action) and np.isnan(row["action"]):
            continue

        # if action is the current action (we can assume that actions are valid, but starting temperatures may not be.)
        if curr_action == row["action"]:

            if not np.isnan(row["t_in"]):
                if index >= start_time + datetime.timedelta(seconds=interval):
                    # add datapoint and restart
                    if is_valid_block:
                        data_list.append({
                            'time': start_time,
                            't_in': start_temperature,
                            't_next': row["t_in"],
                            'dt': int((index - start_time).total_seconds()),
                            'action': curr_action,
                            'action_prev': action_prev,
                            'action_duration': int((index - curr_action_start).total_seconds())})

                    # restart fields
                    start_temperature = row["t_in"]
                    start_time = index
                    is_valid_block = not (np.isnan(curr_action) or np.isnan(start_temperature))

                # if not valid block but we have found a non-nan starting temperature, restart block
                if not is_valid_block:
                    start_temperature = row["t_in"]
                    start_time = index
                    is_valid_block = not (np.isnan(curr_action) or np.isnan(start_temperature))

                # remember last valid temperature with same action
                last_temperature = row["t_in"]
                last_time = index


            else:
                # if times match we set t_next to the last valid temperature and time
                if index >= start_time + datetime.timedelta(seconds=interval):
                    if is_valid_block:
                        data_list.append({
                            'time': start_time,
                            't_in': start_temperature,
                            't_next': last_temperature,
                            'dt': int((last_time - start_time).total_seconds()),
                            'action': curr_action,
                            'action_prev': action_prev,
                            'action_duration': int((last_time - curr_action_start).total_seconds())})

                    # restart fields. This will make it an invalid block
                    start_temperature = row["t_in"]
                    start_time = index
                    is_valid_block = not (np.isnan(curr_action) or np.isnan(start_temperature))

        # if action is not the current action
        else:
            if not np.isnan(row["t_in"]):
                if is_valid_block:
                    data_list.append({
                        'time': start_time,
                        't_in': start_temperature,
                        't_next': row["t_in"],
                        'dt': int((index - start_time).total_seconds()),
                        'action': curr_action,
                        'action_prev': action_prev,
                        'action_duration': int((index - curr_action_start).total_seconds())})
            else:
                if is_valid_block:
                    data_list.append({
                        'time': start_time,
                        't_in': start_temperature,
                        't_next': last_temperature,
                        'dt': int((last_time - start_time).total_seconds()),
                        'action': curr_action,
                        'action_prev': action_prev,
                        'action_duration': int((last_time - curr_action_start).total_seconds())})

            # restart the whole block.
            action_prev = curr_action
            curr_action_start = index

            curr_action = row["action"]
            start_temperature = row["t_in"]
            start_time = index

            last_temperature = row["t_in"]
            last_time = index

            is_valid_block = not (np.isnan(curr_action) or np.isnan(start_temperature))


    # add last datapoint
    if start_time != indoor_data.index[-1] and is_valid_block:
        data_list.append({
            "time": start_time,
            't_in': start_temperature,
            't_next': last_temperature,
            'dt': int((last_time - start_time).total_seconds()),
            'action': curr_action,
            'action_prev': action_prev,
            'action_duration': int((last_time - curr_action_start).total_seconds())})

    # if no datapoints could be created, we return None.
    if data_list == []:
        return None

    preprocessed_indoor_data = pd.DataFrame(data_list).set_index('time')

    return preprocessed_indoor_data

In [81]:
start_time = time.time()
final_data = preprocess_indoor_data(data.rename(columns={"temperature":"t_in"}), 5*60)
print("Time took", time.time() - start_time)

Time took 39.69321298599243

In [143]:
start_time = time.time()
td = datetime.timedelta(minutes=5)
def aggregator(row):
    global data, td
#     print(row)
#     print(row.index+td)
    return data.loc[row.index: row.index + td].mean()
pd.DataFrame(indoor_temperature_data["temperature"]).apply(lambda x: x, axis=1)
print(time.time() - start_time)

25.4120991230011

In [173]:
start_time = time.time()
td = datetime.timedelta(minutes=5)
# def aggregator(row):
#     global data, td
# #     print(row)
# #     print(row.index+td)
#     return data.loc[row.index: row.index + td].mean()

mean_temperatures = []
curr_df = indoor_temperature_data["temperature"]

print(curr_df.resample("5T", base=0).mean())

# while curr_df.index[0] < indoor_temperature_data.index[0] + td:
#     print(curr_df.resample("5T").mean())
#     mean_temperatures.append(curr_df.resample("5T", base=3).mean())
#     curr_df = curr_df.iloc[:]
# faster_mean_temperature = pd.concat(mean_temperatures)
print(time.time() - start_time)
print(faster_mean_temperature)

datetime
2018-10-01 00:00:00+00:00    73.976667
2018-10-01 00:05:00+00:00    73.922857
2018-10-01 00:10:00+00:00    74.100000
2018-10-01 00:15:00+00:00    74.100000
2018-10-01 00:20:00+00:00    73.846667
2018-10-01 00:25:00+00:00    74.000000
2018-10-01 00:30:00+00:00    73.831429
2018-10-01 00:35:00+00:00    74.000000
2018-10-01 00:40:00+00:00    73.834286
2018-10-01 00:45:00+00:00    73.790000
2018-10-01 00:50:00+00:00    73.559048
2018-10-01 00:55:00+00:00    73.670000
2018-10-01 01:00:00+00:00    73.384286
2018-10-01 01:05:00+00:00    72.894286
2018-10-01 01:10:00+00:00    72.267619
2018-10-01 01:15:00+00:00    71.756190
2018-10-01 01:20:00+00:00    71.332381
2018-10-01 01:25:00+00:00    71.114286
2018-10-01 01:30:00+00:00    70.797143
2018-10-01 01:35:00+00:00    70.636667
2018-10-01 01:40:00+00:00    70.512381
2018-10-01 01:45:00+00:00    70.363333
2018-10-01 01:50:00+00:00    70.171429
2018-10-01 01:55:00+00:00    69.891905
2018-10-01 02:00:00+00:00    69.814286
2018-10-01 02:05:00+00:00    69.800000
2018-10-01 02:10:00+00:00    69.737143
2018-10-01 02:15:00+00:00    69.660000
2018-10-01 02:20:00+00:00    69.565714
2018-10-01 02:25:00+00:00    69.473810
                               ...
2019-04-18 21:30:00+00:00    74.800000
2019-04-18 21:35:00+00:00    74.800000
2019-04-18 21:40:00+00:00    74.900000
2019-04-18 21:45:00+00:00          NaN
2019-04-18 21:50:00+00:00          NaN
2019-04-18 21:55:00+00:00          NaN
2019-04-18 22:00:00+00:00          NaN
2019-04-18 22:05:00+00:00          NaN
2019-04-18 22:10:00+00:00          NaN
2019-04-18 22:15:00+00:00          NaN
2019-04-18 22:20:00+00:00          NaN
2019-04-18 22:25:00+00:00          NaN
2019-04-18 22:30:00+00:00          NaN
2019-04-18 22:35:00+00:00          NaN
2019-04-18 22:40:00+00:00          NaN
2019-04-18 22:45:00+00:00          NaN
2019-04-18 22:50:00+00:00          NaN
2019-04-18 22:55:00+00:00          NaN
2019-04-18 23:00:00+00:00          NaN
2019-04-18 23:05:00+00:00          NaN
2019-04-18 23:10:00+00:00          NaN
2019-04-18 23:15:00+00:00          NaN
2019-04-18 23:20:00+00:00          NaN
2019-04-18 23:25:00+00:00          NaN
2019-04-18 23:30:00+00:00          NaN
2019-04-18 23:35:00+00:00          NaN
2019-04-18 23:40:00+00:00    74.800000
2019-04-18 23:45:00+00:00          NaN
2019-04-18 23:50:00+00:00          NaN
2019-04-18 23:55:00+00:00    74.600000
Freq: 5T, Name: temperature, Length: 57600, dtype: float64
0.007622957229614258
datetime
2018-09-30 23:58:00+00:00    74.194444
2018-10-01 00:03:00+00:00    73.920000
2018-10-01 00:08:00+00:00    73.922857
2018-10-01 00:13:00+00:00    74.100000
2018-10-01 00:18:00+00:00    73.886667
2018-10-01 00:23:00+00:00    74.000000
2018-10-01 00:28:00+00:00    73.831429
2018-10-01 00:33:00+00:00    74.000000
2018-10-01 00:38:00+00:00    73.834286
2018-10-01 00:43:00+00:00    73.990000
2018-10-01 00:48:00+00:00    73.553333
2018-10-01 00:53:00+00:00    73.745714
2018-10-01 00:58:00+00:00    73.490000
2018-10-01 01:03:00+00:00    73.144286
2018-10-01 01:08:00+00:00    72.514286
2018-10-01 01:13:00+00:00    71.867619
2018-10-01 01:18:00+00:00    71.456190
2018-10-01 01:23:00+00:00    71.272381
2018-10-01 01:28:00+00:00    70.874286
2018-10-01 01:33:00+00:00    70.677143
2018-10-01 01:38:00+00:00    70.576667
2018-10-01 01:43:00+00:00    70.392381
2018-10-01 01:48:00+00:00    70.294762
2018-10-01 01:53:00+00:00    69.943333
2018-10-01 01:58:00+00:00    69.828571
2018-10-01 02:03:00+00:00    69.814286
2018-10-01 02:08:00+00:00    69.777143
2018-10-01 02:13:00+00:00    69.700000
2018-10-01 02:18:00+00:00    69.605714
2018-10-01 02:23:00+00:00    69.476667
                               ...
2019-04-18 21:33:00+00:00    74.800000
2019-04-18 21:38:00+00:00    74.900000
2019-04-18 21:43:00+00:00          NaN
2019-04-18 21:48:00+00:00          NaN
2019-04-18 21:53:00+00:00          NaN
2019-04-18 21:58:00+00:00          NaN
2019-04-18 22:03:00+00:00          NaN
2019-04-18 22:08:00+00:00          NaN
2019-04-18 22:13:00+00:00          NaN
2019-04-18 22:18:00+00:00          NaN
2019-04-18 22:23:00+00:00          NaN
2019-04-18 22:28:00+00:00          NaN
2019-04-18 22:33:00+00:00          NaN
2019-04-18 22:38:00+00:00          NaN
2019-04-18 22:43:00+00:00          NaN
2019-04-18 22:48:00+00:00          NaN
2019-04-18 22:53:00+00:00          NaN
2019-04-18 22:58:00+00:00          NaN
2019-04-18 23:03:00+00:00          NaN
2019-04-18 23:08:00+00:00          NaN
2019-04-18 23:13:00+00:00          NaN
2019-04-18 23:18:00+00:00          NaN
2019-04-18 23:23:00+00:00          NaN
2019-04-18 23:28:00+00:00          NaN
2019-04-18 23:33:00+00:00          NaN
2019-04-18 23:38:00+00:00          NaN
2019-04-18 23:43:00+00:00    74.800000
2019-04-18 23:48:00+00:00          NaN
2019-04-18 23:53:00+00:00          NaN
2019-04-18 23:58:00+00:00    74.600000
Name: temperature, Length: 288003, dtype: float64

In [179]:
data = indoor_temperature_data["temperature"]
aggregation_window = prediction_window

df_td = (data.index[1] - data.index[0]).seconds
agg_td = xsg.get_window_in_sec(aggregation_window)

# aggregation step
if aggregation_type != "None":
    aggregated_dfs = []
    curr_base = 0
    while curr_base < agg_td:
        aggregated_dfs.append(data.resample("{}S".format(agg_td),base=curr_base).mean())
        curr_base += df_td

In [183]:
pd.concat(aggregated_dfs).sort_index()

/Users/daniellengyel/miniconda3/envs/venv-dr3/lib/python3.6/site-packages/pandas/core/sorting.py:257: FutureWarning: Converting timezone-aware DatetimeArray to timezone-naive ndarray with 'datetime64[ns]' dtype. In the future, this will return an ndarray with 'object' dtype where each element is a 'pandas.Timestamp' with the correct 'tz'.
	To accept the future behavior, pass 'dtype=object'.
	To keep the old behavior, pass 'dtype="datetime64[ns]"'.
  items = np.asanyarray(items)

datetime
2018-09-30 23:56:00+00:00    74.200000
2018-09-30 23:57:00+00:00    74.200000
2018-09-30 23:58:00+00:00    74.194444
2018-09-30 23:59:00+00:00    73.945833
2018-10-01 00:00:00+00:00    73.976667
2018-10-01 00:01:00+00:00    73.956667
2018-10-01 00:02:00+00:00    73.936667
2018-10-01 00:03:00+00:00    73.920000
2018-10-01 00:04:00+00:00    73.922857
2018-10-01 00:05:00+00:00    73.922857
2018-10-01 00:06:00+00:00    73.922857
2018-10-01 00:07:00+00:00    73.922857
2018-10-01 00:08:00+00:00    73.922857
2018-10-01 00:09:00+00:00    74.100000
2018-10-01 00:10:00+00:00    74.100000
2018-10-01 00:11:00+00:00    74.100000
2018-10-01 00:12:00+00:00    74.100000
2018-10-01 00:13:00+00:00    74.100000
2018-10-01 00:14:00+00:00    74.100000
2018-10-01 00:15:00+00:00    74.100000
2018-10-01 00:16:00+00:00    74.100000
2018-10-01 00:17:00+00:00    73.896667
2018-10-01 00:18:00+00:00    73.886667
2018-10-01 00:19:00+00:00    73.866667
2018-10-01 00:20:00+00:00    73.846667
2018-10-01 00:21:00+00:00    73.826667
2018-10-01 00:22:00+00:00    74.010000
2018-10-01 00:23:00+00:00    74.000000
2018-10-01 00:24:00+00:00    74.000000
2018-10-01 00:25:00+00:00    74.000000
                               ...
2019-04-18 23:30:00+00:00          NaN
2019-04-18 23:31:00+00:00          NaN
2019-04-18 23:32:00+00:00          NaN
2019-04-18 23:33:00+00:00          NaN
2019-04-18 23:34:00+00:00          NaN
2019-04-18 23:35:00+00:00          NaN
2019-04-18 23:36:00+00:00          NaN
2019-04-18 23:37:00+00:00          NaN
2019-04-18 23:38:00+00:00          NaN
2019-04-18 23:39:00+00:00          NaN
2019-04-18 23:40:00+00:00    74.800000
2019-04-18 23:41:00+00:00    74.800000
2019-04-18 23:42:00+00:00    74.800000
2019-04-18 23:43:00+00:00    74.800000
2019-04-18 23:44:00+00:00    74.800000
2019-04-18 23:45:00+00:00          NaN
2019-04-18 23:46:00+00:00          NaN
2019-04-18 23:47:00+00:00          NaN
2019-04-18 23:48:00+00:00          NaN
2019-04-18 23:49:00+00:00          NaN
2019-04-18 23:50:00+00:00          NaN
2019-04-18 23:51:00+00:00          NaN
2019-04-18 23:52:00+00:00          NaN
2019-04-18 23:53:00+00:00          NaN
2019-04-18 23:54:00+00:00    74.600000
2019-04-18 23:55:00+00:00    74.600000
2019-04-18 23:56:00+00:00    74.600000
2019-04-18 23:57:00+00:00    74.600000
2019-04-18 23:58:00+00:00    74.600000
2019-04-18 23:59:00+00:00    74.600000
Name: temperature, Length: 288004, dtype: float64

In [149]:
start_time = time.time()
td = datetime.timedelta(minutes=5)
# def aggregator(row):
#     global data, td
# #     print(row)
# #     print(row.index+td)
#     return data.loc[row.index: row.index + td].mean()

mean_temperatures = []
curr_df = indoor_temperature_data["temperature"]
while curr_df.index[0] < indoor_temperature_data.index[0] + td:
    print(curr_df.resample("5T").mean())
    mean_temperatures.append(curr_df.resample("5T").mean())
    curr_df = curr_df.iloc[1:]
faster_mean_temperature = pd.concat(mean_temperatures)
print(time.time() - start_time)
print(faster_mean_temperature)

                           temperature
datetime
2018-10-01 00:00:00+00:00    73.976667
2018-10-01 00:05:00+00:00    73.922857
2018-10-01 00:10:00+00:00    74.100000
2018-10-01 00:15:00+00:00    74.100000
2018-10-01 00:20:00+00:00    73.846667
2018-10-01 00:25:00+00:00    74.000000
2018-10-01 00:30:00+00:00    73.831429
2018-10-01 00:35:00+00:00    74.000000
2018-10-01 00:40:00+00:00    73.834286
2018-10-01 00:45:00+00:00    73.790000
2018-10-01 00:50:00+00:00    73.559048
2018-10-01 00:55:00+00:00    73.670000
2018-10-01 01:00:00+00:00    73.384286
2018-10-01 01:05:00+00:00    72.894286
2018-10-01 01:10:00+00:00    72.267619
2018-10-01 01:15:00+00:00    71.756190
2018-10-01 01:20:00+00:00    71.332381
2018-10-01 01:25:00+00:00    71.114286
2018-10-01 01:30:00+00:00    70.797143
2018-10-01 01:35:00+00:00    70.636667
2018-10-01 01:40:00+00:00    70.512381
2018-10-01 01:45:00+00:00    70.363333
2018-10-01 01:50:00+00:00    70.171429
2018-10-01 01:55:00+00:00    69.891905
2018-10-01 02:00:00+00:00    69.814286
2018-10-01 02:05:00+00:00    69.800000
2018-10-01 02:10:00+00:00    69.737143
2018-10-01 02:15:00+00:00    69.660000
2018-10-01 02:20:00+00:00    69.565714
2018-10-01 02:25:00+00:00    69.473810
...                                ...
2019-04-18 21:30:00+00:00    74.800000
2019-04-18 21:35:00+00:00    74.800000
2019-04-18 21:40:00+00:00    74.900000
2019-04-18 21:45:00+00:00          NaN
2019-04-18 21:50:00+00:00          NaN
2019-04-18 21:55:00+00:00          NaN
2019-04-18 22:00:00+00:00          NaN
2019-04-18 22:05:00+00:00          NaN
2019-04-18 22:10:00+00:00          NaN
2019-04-18 22:15:00+00:00          NaN
2019-04-18 22:20:00+00:00          NaN
2019-04-18 22:25:00+00:00          NaN
2019-04-18 22:30:00+00:00          NaN
2019-04-18 22:35:00+00:00          NaN
2019-04-18 22:40:00+00:00          NaN
2019-04-18 22:45:00+00:00          NaN
2019-04-18 22:50:00+00:00          NaN
2019-04-18 22:55:00+00:00          NaN
2019-04-18 23:00:00+00:00          NaN
2019-04-18 23:05:00+00:00          NaN
2019-04-18 23:10:00+00:00          NaN
2019-04-18 23:15:00+00:00          NaN
2019-04-18 23:20:00+00:00          NaN
2019-04-18 23:25:00+00:00          NaN
2019-04-18 23:30:00+00:00          NaN
2019-04-18 23:35:00+00:00          NaN
2019-04-18 23:40:00+00:00    74.800000
2019-04-18 23:45:00+00:00          NaN
2019-04-18 23:50:00+00:00          NaN
2019-04-18 23:55:00+00:00    74.600000

[57600 rows x 1 columns]

In [140]:
def timer(input_function):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = input_function(*args, **kwargs)
        print("Time", time.time() - start_time)
        return result
    return wrapper

In [141]:
@timer
def foo(a, b):
    return a + b

In [142]:
foo(2,3)

Time 7.152557373046875e-07

5